{
    "arrowParens": "always",
    "semi" : false,
    "trailingComma" : "none",
    "tabWWidth" : 2,
    "endOfLine" : "auto",
    "useTabs" : false,
    "singleQuote" : true,
    "printWidth" : 120,
    "jsxSingleQuote": true
}